@model IEnumerable<Avery_MIS4200.Models.TvShows>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movies.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TVName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectorLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produced)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movies.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produced)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DirectorFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DirectorLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produced)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TvShowsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TvShowsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TvShowsID })
        </td>
    </tr>
}

</table>
