@model Avery_MIS4200.Models.Studio

@{
    ViewBag.Title = "Info";
}

<h2>Details</h2>

<div>
    <h4>Studio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudioName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudioName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudioID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
