@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS4200</h1>
    <p class="lead">Avery Wallace</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Movie</h2>
        <p>
            Pulp Fiction is my favorite movie

        </p>
        <p><a class="btn btn-default" href="https://www.miramax.com/movie/pulp-fiction/">Learn more &raquo;</a></p>
        @Html.ActionLink("Movies", "Index", "Movies")
        <br />
        @Html.ActionLink("TvShows", "Index", "TvShows")
        <br />
        @Html.ActionLink("Studio", "Index", "Studio")
        <br />
        @Html.ActionLink("Actors", "Index", "Actors")
    </div>
    <div class="col-md-4">
        <h2>
            My favorite Team
        </h2>

        <p>
            Get to know the Chcicago Bulls.
        </p>
        <p><a class="btn btn-default" href="https://store.nba.com/chicago-bulls/t-70255189+z-849802-2710025869?_s=google-ak1900nba&utm_campaign=TN+%2B+Internet+-+NBA++%28Mod.+Broad%29|115911414&utm_medium=ppc&ks_id=6220_kw1053053&utm_term=%2Bchicago%20%2Bbulls%20%2Bwebsite&matchtype=b&utm_source=g&target=kwd-31065402849&pcrid=395672102108&adposition=1t2&gclid=EAIaIQobChMI86Sd8c-i5wIVxcDACh309wmwEAAYAiAAEgKXdfD_BwE">Learn more &raquo;</a></p>
        @Html.ActionLink("Customers", "Index ", " Customers")
       
       
    </div>
    <div class="col-md-4">
        <h2>
            My School
        </h2>
        <p>
            Get to know where I went to school.
        </p>
        <p><a class="btn btn-default" href="https://www.ohio.edu/">Learn more &raquo;</a></p>
    </div>
</div>