@model Avery_MIS4200.Models.TvShows

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TvShows</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movies.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movies.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieMade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieMade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TvShowsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
